/* -------------------------------------------------------------------------- 
	Quick view button
  -------------------------------------------------------------------------- */

.adfy-qv-button {
	
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	border: none;
	background-color: transparent;
	@include transation_delay();
}

.adfy-qv-button:focus {
	
	border: none;
	outline: none;
	background-color: transparent;
}

.adfy-qv-button:hover {

	border: none;
	background-color: transparent;
}

// close button 

#addonify-qvm-close-button {
	
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	font-weight: normal;
	border-radius: 100%;
	@include transation_delay();
}