/* -------------------------------------------------------------------------- 
	Keyframe
  -------------------------------------------------------------------------- */

@-webkit-keyframes AddonifyQuickViewSpin {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }
}
@keyframes AddonifyQuickViewSpin {
    from {
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
    }
}