/* -------------------------------------------------------------------------- 
	Pulse ring
  -------------------------------------------------------------------------- */
@keyframes pulse-ring {
    
	0% {
		transform: scale(.33);
	}
	80%, 100% {
		opacity: 0;
	}
}

/* -------------------------------------------------------------------------- 
	Pulse dot
  -------------------------------------------------------------------------- */
@keyframes pulse-dot {

	0% {
		transform: scale(.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.8);
	}
}

/* -------------------------------------------------------------------------- 
	Spin
  -------------------------------------------------------------------------- */
@keyframes spinner {

	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* -------------------------------------------------------------------------- 
	Pulse notice
  -------------------------------------------------------------------------- */
@keyframes adfyNoticePulse {

	0% {

		box-shadow: 0 0 0 0 rgba( 204, 169, 44, 0.4);
	}
	70% {

		box-shadow: 0 0 0 10px rgba( 204, 169, 44, 0 );
	}
	100% {

		box-shadow: 0 0 0 0 rgba( 204, 169, 44, 0 );
	}
}