/* -------------------------------------------------------------------------- 
	Quick view modal
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal {
	
	display: block;
	position: fixed;
    visibility: hidden;
    opacity: 0;
    @include position_topnleft();
    z-index: 100000000;
    width: 100%;
	max-width: 1000px;
	height: auto;
	min-height: 400px;
	max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
	border-radius: 10px;
    background-color: var(--addonify_qv_modal_background);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.10);
    @include transation_delay();
}

#addonify-quick-view-overlay {
	
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
    visibility: hidden;
	z-index: 10000000;
	@include overlay();
	background-color: var(--addonify_qv_modal_overlay_background);
}

body.addonify-qvm-is-active {

	position: relative;
	overflow-y: hidden;
	max-height: 100vh;
}

.addonify-qvm-is-active #addonify-quick-view-modal,
.addonify-qvm-is-active #addonify-quick-view-overlay {

	visibility: visible;
    opacity: 1;
}

.adfy-quick-view-model-inner {

	position:relative;
	height: 100%;
    width: 100%;
    max-width: 100%;
}

.adfy-qvm-head {

	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

// Increase the z-index of WooCommerce lightbox when modal is active.

.addonify-qvm-is-active .pswp {

	z-index: 1000000001;
}

.addonify-qvm-is-active .woocommerce img.pswp__img, .woocommerce-page img.pswp__img {

	background-color: white;
}

/* -------------------------------------------------------------------------- 
	Spinner
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal #adfy-qvm-spinner {
	
	display: block;
	position: fixed;
	@include position_topnleft();
	z-index: 100000000;
	opacity: 1;
	visibility: visible;
}

#addonify-quick-view-modal #adfy-qvm-spinner .icon {
	
	color: var(--addonify_qv_modal_spinner_icon_color);
	animation-name: AddonifyQuickViewSpin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#addonify-quick-view-modal #adfy-qvm-spinner.hide {
	
	display: none;
	opacity: 0;
	visibility: hidden;
}

/* -------------------------------------------------------------------------- 
	Modal box close button
  -------------------------------------------------------------------------- */

#addonify-qvm-close-button {

	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: var(--addonify_qv_close_button_text);
	color: var(--addonify_qv_close_button_text);
	height: 30px;
	width: 30px;
	background-color: var(--addonify_qv_close_button_background);
	border-radius: 100%;
	cursor: pointer;

	svg {

    	height: 14px;
    	width: 14px;
	}

	&:hover {

		fill: var(--addonify_qv_close_button_text_hover);
		color: var(--addonify_qv_close_button_text_hover);
		background-color: var(--addonify_qv_close_button_background_hover);
	}
}


/* -------------------------------------------------------------------------- 
	Modal box inner
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal .adfy-quick-view-modal-content {

	position: relative;
	padding: 40px 30px;
	color: var(--addonify_qv_modal_general_text_color);
}

#addonify-quick-view-modal {

	.woocommerce {

		.product {

			.onsale {

				position: absolute;
				right: auto;
				left: 20px;
				top: 20px;
				z-index: 10;
				margin: 0;
			}

			.product_title {

				color: var(--addonify_qv_product_title);
			}

			.price {

				color: var(--addonify_qv_product_price);

				del {

					color: var(--addonify_qv_product_price);
				}

				ins {

					color: var(--addonify_qv_product_price_sale);
				}
			}

			.woocommerce-product-details__short-description {

				color: var(--addonify_qv_product_excerpt);
			}

			.star-rating {

				color: var(--addonify_qv_product_rating_filled);

				&::before {

					color: var(--addonify_qv_product_rating_empty);
				}
			}

			.woocommerce-product-rating {

				.woocommerce-review-link {

					color: var(--addonify_qv_product_meta);

					&:hover {

						color: var(--addonify_qv_product_meta_hover);
					}
				}
			}

			form {

				label {

					color: var(--addonify_qv_modal_general_text_color);
				}

				input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

					color: var(--addonify_qv_modal_inputs_text_color);
					opacity: 1; /* Firefox */
				}

				input:-ms-input-placeholder { /* Internet Explorer 10-11 */

					color: var(--addonify_qv_modal_inputs_text_color);
				}

				input::-ms-input-placeholder { /* Microsoft Edge */

					color: var(--addonify_qv_modal_inputs_text_color);
				}

				input[type="text"],
				input[type="number"] {

					color: var(--addonify_qv_modal_inputs_text_color);
					background-color: var(--addonify_qv_modal_inputs_background_color);
				}

				select {

					color: var(--addonify_qv_modal_inputs_text_color);
					background-color: var(--addonify_qv_modal_inputs_background_color);
				}
			}

			.product_meta {

				a {

					color: var(--addonify_qv_product_meta);

					&:hover {

						color: var(--addonify_qv_product_meta_hover);
					}
				}
			}

			button,
			.button {

				fill: var(--addonify_qv_misc_button_text);
				color: var(--addonify_qv_misc_button_text);
				background-color: var(--addonify_qv_misc_button_background);

				&:hover {

					fill: var(--addonify_qv_misc_button_text_hover);
					color: var(--addonify_qv_misc_button_text_hover);
					background-color: var(--addonify_qv_misc_button_background_hover);
				}
			}
		}
	}
}

#addonify-quick-view-modal .woocommerce .product::before,
#addonify-quick-view-modal .woocommerce .product::after {

	content: "";
	display: none;
}

#addonify-quick-view-modal .woocommerce .product .summary,
#addonify-quick-view-modal .woocommerce .product .woocommerce-product-gallery {

	margin-bottom: 0;
}

#addonify-quick-view-modal .woocommerce .product {

	display: grid;
	align-items: stretch;
	justify-content: stretch;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
}

#addonify-quick-view-modal .woocommerce .product .images,
#addonify-quick-view-modal .woocommerce .product .summary,
.woocommerce-page #addonify-quick-view-modal .product .images,
.woocommerce-page #addonify-quick-view-modal .product .summary {

	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}