/* -------------------------------------------------------------------------- 
	Quick view modal
  -------------------------------------------------------------------------- */

.addonify-overlay-buttons {

    position: relative;

    .addonify-overlay-btn-wrapper {

        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: #111111;
        opacity: 0;
        transition: 0.5s;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// modal outer

#addonify-quick-view-modal {
	
	display: block;
	position: fixed;
    visibility: hidden;
    opacity: 0;
    @include position_topnleft();
    z-index: 100000000;
    width: 1000px;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
	border-radius: 10px;
    background-color: white;
    @include mild_box_shadow();
    @include transation_delay();
}

// modal overlay mask 

.adfy-quick-view-overlay {
	
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
    visibility: hidden;
	z-index: 10000000;
	@include overlay();
}

.addonify-qvm-is-active {

	overflow: hidden;
}

.addonify-qvm-is-active .adfy-quick-view-overlay,
.addonify-qvm-is-active #addonify-quick-view-modal {

	visibility: visible;
    opacity: 1;
}

.addonify-qvm-is-active .pswp {

	z-index: 10001;
}

.adfy-quick-view-model-inner {

	position:relative;
	height: 100%;
    width: 100%;
    max-width: 100%;
}

.adfy-qvm-head {

	position:absolute;
	top:10px;
	right:10px;
	z-index:10;
}

// spinner 

#addonify-quick-view-modal #adfy-qvm-spinner {
	
	display: block;
	position: absolute;
	@include position_topnleft();
	z-index: 11;
	opacity: 1;
	visibility: visible;
}

#addonify-quick-view-modal #adfy-qvm-spinner .icon {

	animation-name: AddonifyQuickViewSpin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#addonify-quick-view-modal #adfy-qvm-spinner.hide {
	
	display: none;
	opacity: 0;
	visibility: hidden;
}

// modal content 

.adfy-quick-view-modal-content {

	position: relative;
	padding: 40px 30px;
}

#addonify-quick-view-modal #addonify-qvm-close-button {

	color: #000000;
}

#addonify-quick-view-modal #addonify-qvm-close-button svg {

	line-height: 30px;
    height: 30px;
    width: 18px;
}

.addonify-qvm-overlay-button {

	position:relative; // case when quick view button is in overlay
}

.addonify-qvm-overlay-button .addonify-qvm-button {

	display: block;
	position: absolute;
	@include position_topnleft();
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	@include transation_delay();
}

.addonify-qvm-overlay-button:hover .addonify-qvm-button {

	visibility: visible;
	opacity: 1;
	z-index: 100;
}

#addonify-quick-view-modal .single-product div.product .summary,
#addonify-quick-view-modal .single-product div.product .woocommerce-product-gallery {

	margin-bottom: 0;
}
