/* -------------------------------------------------------------------------- 
	Quick view modal
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal {
	
	display: block;
	position: fixed;
    visibility: hidden;
    opacity: 0;
    @include position_topnleft();
    z-index: 100000000;
    width: 100%;
	max-width: 1000px;
	height: auto;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
	border-radius: 10px;
    background-color: var(--addonify_qv_modal_background);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.10);
    @include transation_delay();
}

#addonify-quick-view-overlay {
	
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
    visibility: hidden;
	z-index: 10000000;
	@include overlay();
	background-color: var(--addonify_qv_modal_overlay_background);
}

.addonify-qvm-is-active {

	overflow: hidden;
}

.addonify-qvm-is-active #addonify-quick-view-modal,
.addonify-qvm-is-active #addonify-quick-view-overlay {

	visibility: visible;
    opacity: 1;
}

.adfy-quick-view-model-inner {

	position:relative;
	height: 100%;
    width: 100%;
    max-width: 100%;
}

.adfy-qvm-head {

	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

// Increase the z-index of WooCommerce lightbox when modal is active.

.addonify-qvm-is-active .pswp {

	z-index: 1000000001;
}

.addonify-qvm-is-active .woocommerce img.pswp__img, .woocommerce-page img.pswp__img {

	background-color: white;
}

/* -------------------------------------------------------------------------- 
	Spinner
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal #adfy-qvm-spinner {
	
	display: block;
	position: absolute;
	@include position_topnleft();
	z-index: 11;
	opacity: 1;
	visibility: visible;
}

#addonify-quick-view-modal #adfy-qvm-spinner .icon {

	animation-name: AddonifyQuickViewSpin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#addonify-quick-view-modal #adfy-qvm-spinner.hide {
	
	display: none;
	opacity: 0;
	visibility: hidden;
}

/* -------------------------------------------------------------------------- 
	Modal box close button
  -------------------------------------------------------------------------- */

#addonify-qvm-close-button {

	fill: var(--addonify_qv_close_button_text);
	color: var(--addonify_qv_close_button_text);
	background-color: var(--addonify_qv_close_button_background);
	border-radius: 100%;

	svg {

		line-height: 30px;
    	height: 30px;
    	width: 18px;
	}

	&:hover {

		fill: var(--addonify_qv_close_button_text_hover);
		color: var(--addonify_qv_close_button_text_hover);
		background-color: var(--addonify_qv_close_button_background_hover);
	}
}


/* -------------------------------------------------------------------------- 
	Modal box inner
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal .adfy-quick-view-modal-content {

	position: relative;
	padding: 40px 30px;
}

#addonify-quick-view-modal {

	.woocommerce {

		.product {

			.product_title {

				color: var(--addonify_qv_product_title);
			}

			.price {

				color: var(--addonify_qv_product_price);

				del {

					color: var(--addonify_qv_product_price);
				}

				ins {

					color: var(--addonify_qv_product_price_sale);
				}
			}

			.woocommerce-product-details__short-description {

				color: var(--addonify_qv_product_excerpt);
			}

			.star-rating {

				color: var(--addonify_qv_product_rating_filled);

				&::before {

					color: var(--addonify_qv_product_rating_empty);
				}
			}

			.product_meta {

				a {

					color: var(--addonify_qv_product_meta);

					&:hover {

						color: var(--addonify_qv_product_meta_hover);
					}
				}
			}

			button,
			.button {

				fill: var(--addonify_qv_misc_button_text);
				color: var(--addonify_qv_misc_button_text);
				background-color: var(--addonify_qv_misc_button_background);

				&:hover {

					fill: var(--addonify_qv_misc_button_text_hover);
					color: var(--addonify_qv_misc_button_text_hover);
					background-color: var(--addonify_qv_misc_button_background_hover);
				}
			}
		}
	}
}

#addonify-quick-view-modal .single-product div.product .summary,
#addonify-quick-view-modal .single-product div.product .woocommerce-product-gallery {

	margin-bottom: 0;
}
