/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media ( min-width: 1400px ) {

	#addonify-quick-view-modal {

		width: 1200px;
	}
}

@media( max-width: 1200px ) {

	#addonify-quick-view-modal {

		width: 95vw;
	}
}

@media( max-width: 768px) {

	#addonify-quick-view-modal .woocommerce .product {

		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
		column-gap: 0;
	}

	#addonify-quick-view-modal .woocommerce .product .images,
	#addonify-quick-view-modal .woocommerce .product .summary {

		margin: 0;
		padding: 0;
	}
}

@media( max-width: 575px ) {

	#addonify-quick-view-modal {

		width: 90vw;
		height: 90vh;
		max-height: 90vh;
	}

	.adfy-quick-view-modal-content {

		padding: 30px 20px;
	}
}