/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media( max-width: 1100px ) {

	#addonify-quick-view-modal {

		width: 95vw;
	}
}

@media( max-width: 767px) {

	#addonify-quick-view-modal .single-product div.product .summary {

		margin-top: 20px;
	}
}

@media( max-width: 575px ) {

	#addonify-quick-view-modal {

		height: 450px;
	}

	.adfy-quick-view-modal-content {

		padding:30px 20px;
	}
}