/* -------------------------------------------------------------------------- 
	Overlay
  -------------------------------------------------------------------------- */

#addonify-quick-view-modal-wrapper {

    @include flex(column, center, center, wrap, 0);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@include overlay();
	backdrop-filter: blur(10px);
	z-index: -1;
	background-color: var(--addonify_qv_modal_overlay_background);
	@include visibility(hidden);
	overflow: hidden;
	@include transation_delay(all, 0.5s, ease-in);
}

.addonify-qvm-is-active {

    #addonify-quick-view-modal-wrapper {

		@include visibility(visible);
		z-index: calc( var(--addonify_qv_modal_zindex) - 30 );
    }
}
