/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media ( min-width: 1920px ) {

	#addonify-quick-view-modal {

		max-width: 1200px;
	}
}

@media ( max-width: 1366px ) {

	#addonify-quick-view-modal {

		max-width: 90vw;
	}
}

@media ( max-width: 1200px ) {

	#addonify-quick-view-modal {

		max-width: 95vw;
	}
}

@media ( max-width: 992px ) {

	#addonify-quick-view-modal {

		.woocommerce {

			.product {

				grid-template-columns: repeat( 1, 1fr );
				row-gap: 30px;
				column-gap: 0;
			}
		}
	}
}

@media ( max-width: 768px) {

	#addonify-quick-view-modal {

		.woocommerce {

			.product {

				grid-template-columns: repeat(1, 1fr);
				row-gap: 20px;
				column-gap: 0;

				.images,
				.summary {

					margin: 0;
					padding: 0;
				}
			}
		}
	}
}

@media ( min-width: 576px ) {

	#addonify-quick-view-modal-wrapper  {

		#addonify-quick-view-modal-close {

			&[data_hide-desktop="true"] {

				display: none;
			}
		}
	}
}

@media ( max-width: 575px ) {

	#addonify-quick-view-modal-wrapper {

		#addonify-quick-view-modal-close {

			--mobile-size: var(--addonify_qv_mobile_close_button_font_size);
			
			display: inline-flex;
			align-items: center;
			justify-content: center;
			top: auto;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 35px;
			padding: 0;
			margin: 0 auto;
			border-radius: 0;

			.button-label {

				&.mobile {

					display: inline-flex;
				}
			}

			.button-icon {

				svg {

					width: var(--mobile-size);
					height: var(--mobile-size);
				}
			}
		}
	}

	#addonify-quick-view-modal {

		position: relative;

		#adfy-quick-view-modal-content {

			padding: 15px 15px 45px 15px;

			.woocommerce {

				.product {

					.images {

						gap: 10px;

						.flex-control-nav {

							grid-template-columns: repeat(3, 1fr);
							row-gap: 10px;
							column-gap: 10px;
						}
					}

					.summary {

						.summary-content {

							.product_title {

								font-size: 24px;
							}

							.price {

								font-size: 16px;
							}
							
							// VARIATIONS FORMS
							.variations_form {

								.variations {

									tr {

										grid-template-columns: repeat(1, 1fr);
										row-gap: 10px;
										column-gap: 0;
									}
								}
							}

							// GROUPED PRODUCT
							.cart {

								.woocommerce-grouped-product-list {

									tbody {

										tr {

											flex-direction: column;
											align-items: flex-start;
											justify-content: flex-start;

											.woocommerce-grouped-product-list-item__quantity {

												width: 100%;
												max-width: 100%;
											}

											.woocommerce-grouped-product-list-item__price {

												text-align: left;

												.stock {

													justify-content: flex-start;
													text-align: left;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}