/* -------------------------------------------------------------------------- 
	Responsive
  -------------------------------------------------------------------------- */

@media ( min-width: 2560px ) {

	#addonify-quick-view-modal {

		max-width: 1200px;
	}
}

@media ( max-width: 1366px ) {

	#addonify-quick-view-modal {

		max-width: 90vw;
	}
}

@media ( max-width: 1200px ) {

	#addonify-quick-view-modal {

		max-width: 95vw;
	}
}

@media ( max-width: 992px ) {

	#addonify-quick-view-modal {

		.woocommerce {

			.product {

				grid-template-columns: repeat( 1, 1fr );
				row-gap: 30px;
				column-gap: 0;
			}
		}
	}
}

@media ( max-width: 768px) {

	#addonify-quick-view-modal .woocommerce .product {

		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
		column-gap: 0;
	}

	#addonify-quick-view-modal .woocommerce .product .images,
	#addonify-quick-view-modal .woocommerce .product .summary {

		margin: 0;
		padding: 0;
	}
}

@media ( max-width: 575px ) {

	#addonify-quick-view-modal {

		max-width: 90vw;
		height: 90vh;
		min-height: 90vh;
		max-height: 90vh;
	}

	.adfy-quick-view-modal-content {

		padding: 30px 20px;
	}
}