@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);

:root {
    --addonify_primary_color: #0286e7;
    --addonify_seconary_color: #00b32a;
    --addonify_base_text_color: #585858;
    --addonify_base_link_color: #0366e0;
    --addonify_base_link_hover_color: var(--addonify_seconary_color);
    --addonify_border_color: #d5d5d5;
    --addonify_button_text_color: #fff;
    --addonify_button_background_color: #0286e7;
    --addonify_button_hover_text_color: #fff;
    --addonify_button_hover_background_color: #00b32a;
    --addonify_button_border_color: transparent;
    --addonify_button_hover_border_color: transparent;
    --addonify_button_border_width: 0;
    --addonify_button_border_style: solid;
    --addonify_text_button_color: var(--addonify_primary_color);
    --addonify_text_button_hover_color: var(--addonify_seconary_color);
    --addonify_text_button_underline_color: var(--addonify_primary_color);
    --addonify_text_button_hover_underline_color: var(--addonify_seconary_color);
    --addonify_text_button_underline_height: 3px;
    --addonify_button_is_link_style_text_color: #ef2c2c;
    --addonify_button_is_link_style_hover_text_color: #1e73be;
    --addonify_button_is_link_style_underline_color: #ef2c2c;
    --addonify_button_is_link_style_hover_underline_color: #1e73be;
    --addonify_system_font_family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, Inter, Roboto, Segoe ui, System ui, sans-serif;
    --addonify_monospace_font_family: monospace;
    --addonify_font_family: "Inter", sans-serif;
    --addonify_button_font_size: 15px;
    --addonify_button_font_weight: normal;
    --addonify_button_line_height: 1;
    --addonify_buttons_border_radius: 4px
}

[class*=page_addonify_quick_view] input[type=date],
[class*=page_addonify_quick_view] input[type=datetime-local],
[class*=page_addonify_quick_view] input[type=datetime],
[class*=page_addonify_quick_view] input[type=email],
[class*=page_addonify_quick_view] input[type=month],
[class*=page_addonify_quick_view] input[type=number],
[class*=page_addonify_quick_view] input[type=password],
[class*=page_addonify_quick_view] input[type=search],
[class*=page_addonify_quick_view] input[type=tel],
[class*=page_addonify_quick_view] input[type=text],
[class*=page_addonify_quick_view] input[type=time],
[class*=page_addonify_quick_view] input[type=url],
[class*=page_addonify_quick_view] input[type=week] {
    --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
    background: transparent;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: var(--el-input-text-color, var(--el-text-color-regular));
    font-family: var(--addonify_font_family);
    line-height: var(--el-input-inner-height);
    margin: 0;
    min-height: auto;
    padding: 0
}

[class*=page_addonify_quick_view] input[type=date]:focus,
[class*=page_addonify_quick_view] input[type=datetime-local]:focus,
[class*=page_addonify_quick_view] input[type=datetime]:focus,
[class*=page_addonify_quick_view] input[type=email]:focus,
[class*=page_addonify_quick_view] input[type=month]:focus,
[class*=page_addonify_quick_view] input[type=number]:focus,
[class*=page_addonify_quick_view] input[type=password]:focus,
[class*=page_addonify_quick_view] input[type=search]:focus,
[class*=page_addonify_quick_view] input[type=tel]:focus,
[class*=page_addonify_quick_view] input[type=text]:focus,
[class*=page_addonify_quick_view] input[type=time]:focus,
[class*=page_addonify_quick_view] input[type=url]:focus,
[class*=page_addonify_quick_view] input[type=week]:focus {
    box-shadow: none;
    outline: none
}

[class*=page_addonify_quick_view] input.readonly,
[class*=page_addonify_quick_view] input[readonly],
[class*=page_addonify_quick_view] textarea.readonly,
[class*=page_addonify_quick_view] textarea[readonly] {
    -el-input-inner-height: calc(var(--el-input-height, 40px) - 2px);
    background-color: transparent
}

.adfy-button {
    fill: var(--addonify_button_text_color);
    align-items: center;
    background-color: var(--addonify_button_background_color);
    border-color: var(--addonify_button_border_color);
    border-radius: var(--addonify_buttons_border_radius);
    border-style: var(--addonify_button_border_style);
    border-width: var(--addonify_button_border_width);
    color: var(--addonify_button_text_color);
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-family: var(--addonify_font_family);
    font-size: var(--addonify_button_font_size);
    font-weight: 400;
    line-height: var(--addonify_button_line_height);
    padding: 15px 20px;
    text-decoration: none;
    transition: all .5s ease
}

.adfy-button .icon {
    margin-right: 5px
}

.adfy-button:hover {
    fill: var(--addonify_button_hover_text_color);
    background-color: var(--addonify_button_hover_background_color);
    border-color: var(--addonify_button_hover_border_color);
    color: var(--addonify_button_hover_text_color);
    text-decoration: none
}

.adfy-button:disabled {
    fill: #ababab;
    background-color: #c5c5c5;
    color: #ababab;
    cursor: not-allowed
}

.adfy-button .loading-icon {
    display: none
}

.adfy-button .loading-icon svg {
    animation: spinner 1s linear infinite;
    color: #fff;
    display: inline-flex;
    height: 14px;
    width: 14px
}

.adfy-button[loading=true] {
    cursor: not-allowed;
    display: inline-flex;
    gap: 10px
}

.adfy-button[loading=true] .loading-icon {
    display: inline-flex
}

.adfy-button.fake-button {
    fill: var(--addonify_base_text_color);
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--addonify_base_text_color);
    height: auto;
    padding: 0
}

.adfy-button.fake-button:hover {
    fill: var(--addonify_secondary_color);
    background-color: transparent;
    border: none;
    color: var(--addonify_secondary_color);
    text-decoration: none
}

.adfy-button.fake-button:focus {
    background-color: transparent;
    outline: none;
    text-decoration: none
}

.adfy-button.fake-button.has-underline {
    position: relative
}

.adfy-button.fake-button.has-underline:after,
.adfy-button.fake-button.has-underline:before {
    background-color: currentColor;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%
}

.adfy-button.fake-button.has-underline:before {
    -webkit-backface-visibility: hidden;
    background-color: currentColor;
    content: "";
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .26s cubic-bezier(.25, .8, .25, 1);
    will-change: scale;
    z-index: 1
}

.adfy-button.fake-button.has-underline:after {
    background-color: currentColor;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 0;
    opacity: .5;
    position: absolute;
    width: 100%
}

.adfy-button.fake-button.has-underline:hover {
    fill: var(--addonify_primary_color);
    color: var(--addonify_primary_color)
}

.adfy-button.fake-button.has-underline:hover:before {
    background-color: var(--addonify_primary_color);
    transform: scale(1);
    transform-origin: left center
}

.adfy-loading {
    display: block;
    margin: 50px 0;
    position: relative
}

.adfy-loading .pulse {
    height: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px
}

.adfy-loading .pulse:before {
    animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite;
    background-color: #c5c5c5;
    border-radius: 100%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 300%;
    margin-left: -100%;
    margin-top: -100%;
    position: relative;
    width: 300%
}

.adfy-loading .pulse:after {
    animation: pulse-dot 1.25s cubic-bezier(.455, .03, .515, .955) -.4s infinite;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .01);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.addonify-notice {
    align-items: center;
    background-color: #fff7eb;
    border: 2px solid #f3dcba;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(255, 217, 77, .1);
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: 10px 15px
}

.addonify-notice .content {
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
    display: grid;
    font-size: 13px;
    font-weight: 400;
    grid-template-columns: 25px 1fr;
    line-height: 1.4;
    margin: 0;
    padding: 0
}

.addonify-notice .content .icon {
    fill: #ff9400;
    align-items: center;
    animation: adfyNoticePulse 1.5s ease-out infinite;
    background-color: #fff7eb;
    border-radius: 100%;
    color: #ff9400;
    display: inline-flex;
    height: 20px;
    justify-content: center;
    line-height: 1.4;
    overflow: hidden;
    width: 20px
}

.addonify-notice .content .icon svg {
    display: inline-flex;
    height: 18px;
    line-height: 1;
    width: 18px
}

.addonify-notice .content a {
    color: #325fff;
    display: inline-flex;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    text-decoration: none;
    transition: all .5s ease-in-out
}

.addonify-notice .content a:after,
.addonify-notice .content a:before {
    background-color: currentColor;
    bottom: -4px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%
}

.addonify-notice .content a:before {
    -webkit-backface-visibility: hidden;
    background-color: currentColor;
    content: "";
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .26s cubic-bezier(.25, .8, .25, 1);
    will-change: scale;
    z-index: 1
}

.addonify-notice .content a:after {
    background-color: currentColor;
    content: "";
    opacity: .3;
    position: absolute;
    width: 100%
}

.addonify-notice .content a:is(:hover, :focus) {
    color: var(--addonify_seconary_color);
    text-decoration: none
}

.addonify-notice .content a:is(:hover, :focus):before {
    content: "";
    opacity: 1;
    transform: scale(1);
    transform-origin: left center
}

.addonify-notice .content a:is(:focus) {
    box-shadow: none;
    outline: none
}

.adfy-header {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    left: 160px;
    padding: 10px 30px;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 100
}

.adfy-header .adfy-row {
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 160px auto;
    justify-content: space-between
}

.adfy-header .start .branding .adfy-link {
    display: inline-flex
}

.adfy-header .start .branding .adfy-link img {
    display: inline-flex;
    max-width: 100%
}

.adfy-header .end,
.adfy-header .end .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end
}

.adfy-header .end .buttons {
    gap: 30px
}

.adfy-colopon {
    display: block;
    margin: 100px 30px 0
}

.adfy-colopon .adfy-row {
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between
}

.adfy-colopon .adfy-row .left .text {
    align-items: center;
    display: inline-block;
    gap: 10px
}

.adfy-colopon .adfy-row .left .text .version {
    background-color: #ddd;
    border-radius: 20px;
    color: #888;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 10px 4px
}

.adfy-colopon .adfy-row .right {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end
}

.adfy-colopon .adfy-row .right .text {
    align-items: center;
    display: inline-block
}

.adfy-colopon .adfy-row .right .text .adfy-link {
    align-items: center;
    color: #888;
    display: inline-flex;
    font-family: var(--addonify_system_font_family);
    font-size: 14px;
    font-weight: 400;
    gap: 3px;
    line-height: 1;
    text-decoration: none;
    transition: all .5s ease
}

.adfy-colopon .adfy-row .right .text .adfy-link:hover {
    fill: var(--addonify_base_link_hover_color);
    color: var(--addonify_base_link_hover_color);
    text-decoration: none
}

.adfy-colopon .adfy-row .right .text .adfy-link:focus {
    border: none;
    box-shadow: none;
    outline: none
}

.adfy-colopon .adfy-row .right .text .adfy-link .icon {
    align-items: center;
    display: inline-flex;
    gap: 0
}

.adfy-colopon .adfy-row .right .text .adfy-link .icon .dashicons {
    font-size: 14px;
    height: 14px;
    width: 16px
}

.adfy-colopon .adfy-row .text {
    color: #888;
    font-family: var(--addonify_system_font_family);
    font-size: 14px;
    font-weight: 400;
    margin: 0
}

[class*=page_addonify_quick_view] #wpbody-content {
    padding-bottom: 30px
}

[class*=page_addonify_quick_view] #wpfooter {
    display: none
}

#___adfy-quickview-app___ {
    display: block;
    font-family: var(--addonify_font_family);
    font-weight: 400;
    letter-spacing: -.15px;
    margin: 0 0 0 -20px;
    padding: 0;
    position: relative
}

#___adfy-quickview-app___,
#___adfy-quickview-app___ * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box
}

#___adfy-quickview-app___ .adfy-container {
    margin: 0 auto;
    max-width: 1100px;
    min-height: 100vh;
    width: 100%
}

#___adfy-quickview-app___ #addonify-layout {
    margin-bottom: 120px;
    margin-top: 120px
}

#___adfy-quickview-app___ .main-content {
    align-items: stretch;
    -moz-column-gap: 60px;
    column-gap: 60px;
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: stretch;
    margin: 0
}

#___adfy-quickview-app___ .main-content .end {
    border-left: 1px solid var(--addonify_border_color);
    padding-left: 60px
}

#___adfy-quickview-app___ .el-button {
    font-weight: 400;
    line-height: 1;
    padding: 10px 20px 12px;
    transition: all .5s ease
}

#___adfy-quickview-app___ .adfy-navigation .navigation {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 0
}

#___adfy-quickview-app___ .adfy-navigation .navigation li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%
}

#___adfy-quickview-app___ .adfy-navigation .navigation li a {
    fill: var(--addonify_base_text_color);
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    color: var(--addonify_base_text_color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--addonify_font_family);
    font-size: 15px;
    font-weight: 400;
    gap: 10px;
    line-height: 1;
    padding: 12px 15px 10px;
    text-decoration: none;
    transition: all .5s ease
}

#___adfy-quickview-app___ .adfy-navigation .navigation li a .icon svg {
    height: 16px;
    width: 16px
}

#___adfy-quickview-app___ .adfy-navigation .navigation li a:hover {
    fill: var(--addonify_base_text_color);
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    color: var(--addonify_base_text_color);
    text-decoration: none
}

#___adfy-quickview-app___ .adfy-navigation .navigation li a:focus {
    outline: 0
}

#___adfy-quickview-app___ .adfy-navigation .navigation li .router-link-active {
    fill: var(--addonify_primary_color);
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    color: var(--addonify_primary_color)
}

#___adfy-quickview-app___ .site-primary .adfy-form {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px
}

#___adfy-quickview-app___ .site-primary .addonify-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 40px 40px
}

#___adfy-quickview-app___ .site-primary .addonify-section .section-title-holder {
    border-bottom: 1px solid #eee;
    padding: 0 0 10px
}

#___adfy-quickview-app___ .site-primary .addonify-section .section-title-holder .section-title {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #333;
    display: inline-flex;
    font-family: var(--addonify_font_family);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.15px;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

#___adfy-quickview-app___ .addonify-section .adfy-options {
    border-bottom: 1px dashed var(--addonify_border_color);
    padding-bottom: 30px
}

#___adfy-quickview-app___ .addonify-section .adfy-options:is(:last-child) {
    border-bottom: none;
    padding-bottom: 0
}

#___adfy-quickview-app___ .adfy-options .option-box {
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: auto 300px
}

#___adfy-quickview-app___ .adfy-options .option-box.fullwidth {
    align-items: flex-start;
    -moz-column-gap: 0;
    column-gap: 0;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr)
}

#___adfy-quickview-app___ .adfy-options .option-box.fullwidth .adfy-col.right {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    width: 100%
}

#___adfy-quickview-app___ .adfy-options .option-box.fullwidth .adfy-col.right .input {
    border: 1px solid var(--addonify_border_color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px;
    position: relative;
    width: 100%
}

#___adfy-quickview-app___ .adfy-options .option-box.fullwidth .adfy-col.right .input:before {
    background: #fff;
    border-left: 1px solid var(--addonify_border_color);
    border-top: 1px solid var(--addonify_border_color);
    content: "";
    display: inline-flex;
    height: 16px;
    left: 40px;
    position: absolute;
    right: auto;
    top: -10px;
    transform: rotate(45deg);
    width: 16px;
    z-index: 5
}

#___adfy-quickview-app___ .adfy-options .option-box .adfy-col.left .label {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px
}

#___adfy-quickview-app___ .adfy-options .option-box .adfy-col.right {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0
}

#___adfy-quickview-app___ .adfy-options .option-box .option-label {
    align-items: center;
    color: #444;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--addonify_font_family);
    font-size: 16px;
    font-weight: 400;
    gap: 5px;
    letter-spacing: -.15px;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

#___adfy-quickview-app___ .adfy-options .option-box .option-description {
    fill: #503c3c;
    align-items: center;
    color: #503c3c;
    -moz-column-gap: 8px;
    column-gap: 8px;
    display: grid;
    font-family: var(--addonify_font_family);
    font-size: 13px;
    font-weight: 400;
    grid-template-columns: 15px 1fr;
    line-height: 1.4;
    margin: 0;
    padding: 0
}

#___adfy-quickview-app___ .adfy-options .option-box .option-description svg {
    fill: #ff9400;
    color: #ff9400;
    display: inline-flex;
    height: 14px;
    line-height: 1.4;
    width: 14px
}

#___adfy-quickview-app___ .jumbo-box {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px
}

#___adfy-quickview-app___ .jumbo-box .jumbo-header {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10px
}

#___adfy-quickview-app___ .jumbo-box .jumbo-header .sec-title {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: #333;
    display: inline-flex;
    font-family: var(--addonify_font_family);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: -moz-max-content;
    width: max-content
}

#___adfy-quickview-app___ .jumbo-box .jumbo-header .sec-excerpt {
    fill: #503c3c;
    align-items: center;
    color: #503c3c;
    -moz-column-gap: 8px;
    column-gap: 8px;
    display: grid;
    font-family: var(--addonify_font_family);
    font-size: 13px;
    font-weight: 400;
    grid-template-columns: 15px 1fr;
    line-height: 1.4;
    margin: 0;
    padding: 0
}

#___adfy-quickview-app___ .jumbo-box .jumbo-header .sec-excerpt svg {
    fill: #ff9400;
    color: #ff9400;
    display: inline-flex;
    height: 14px;
    line-height: 1.4;
    width: 14px
}

#___adfy-quickview-app___ .jumbo-box .jumbo-content.adfy-options {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: relative
}

#___adfy-quickview-app___ .jumbo-box .jumbo-content .ui-option {
    align-items: center;
    border-bottom: 1px dashed var(--addonify_border_color);
    -moz-column-gap: 30px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 250px;
    justify-content: space-between;
    padding-bottom: 20px;
    row-gap: 20px
}

#___adfy-quickview-app___ .jumbo-box .jumbo-content .ui-option:is(:last-child) {
    border-bottom: none;
    padding-bottom: 0
}

#___adfy-quickview-app___ .jumbo-box .jumbo-content .ui-option .option-label .label {
    font-size: 15px
}

#___adfy-quickview-app___ .jumbo-box .jumbo-content .ui-option .input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end
}

.adfy-options :is(.el-input):not(.el-textarea):not(.el-select):not(.el-input-number):not(.el-slider):not(.el-color-picker):not(.el-radio) {
    width: 250px
}

.adfy-options .el-textarea {
    min-width: 300px;
    width: 100%
}

.adfy-options .el-textarea .el-textarea__inner {
    border-radius: 10px;
    font-family: var(--addonify_font_family);
    font-size: 15px;
    font-weight: 400;
    height: 200px;
    line-height: 2.2;
    padding: 20px;
    resize: vertical
}

.adfy-options .el-input-number {
    width: 150px
}

.adfy-options .el-input-number.is-controls-right,
.adfy-options .el-select {
    width: 250px
}

.el-popper .el-select-dropdown__item.selected {
    font-weight: 400
}

.adfy-options .el-slider {
    width: 250px
}

.adfy-options .el-color-picker {
    transition: all .5s ease-in
}

.adfy-options .el-color-picker .el-color-picker__color,
.adfy-options .el-color-picker .el-color-picker__color-inner,
.adfy-options .el-color-picker .el-color-picker__trigger {
    border: none;
    border-radius: 100%
}

.adfy-options .el-color-picker .el-color-picker__color {
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
    display: inline-flex;
    justify-content: center
}

.adfy-options .el-color-picker .el-color-picker__trigger {
    align-items: center;
    border: 2px solid #dcdcdc;
    box-shadow: none;
    display: inline-flex;
    height: 52px;
    justify-content: center;
    padding: 8px;
    transition: all .5s ease-in;
    width: 52px
}

.adfy-options .el-color-picker .el-color-picker__icon {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1
}

.adfy-options .el-color-picker .el-color-picker__empty {
    color: red;
    font-size: 20px;
    font-weight: 400;
    line-height: 1
}

.adfy-options .el-color-picker:is(:hover:not(.is-disabled)) .el-color-picker__trigger {
    border: 2px solid #dcdcdc
}

.adfy-options .el-radio-group {
    align-items: center;
    display: flex;
    gap: 20px
}

.adfy-options .el-radio-group .el-radio.is-bordered.el-radio--large {
    align-items: center;
    border-radius: 30px;
    display: inline-flex;
    gap: 10px;
    height: auto;
    margin: 0;
    padding: 10px 20px
}

.adfy-options .el-radio-group .el-radio.is-bordered.el-radio--large span {
    line-height: 1
}

.adfy-options .el-radio-group .el-radio.is-bordered.el-radio--large .el-radio__label {
    padding: 0
}

.adfy-options .el-radio-group .el-radio.is-bordered.el-radio--large .el-radio__label svg {
    fill: #464646;
    align-items: center;
    display: inline-flex;
    height: 20px;
    justify-content: center;
    line-height: 1;
    width: 20px
}

.adfy-options .radio-images .el-radio-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.adfy-options .radio-images .el-radio-group .el-radio {
    align-items: center;
    border: 2px solid var(--addonify_border_color);
    border-radius: 10px;
    display: inline-flex;
    gap: 0;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 15px;
    width: auto
}

.adfy-options .radio-images .el-radio-group .el-radio.is-checked {
    border-color: var(--addonify_primary_color)
}

.adfy-options .radio-images .el-radio-group .el-radio.is-checked .el-radio__label svg.check {
    display: inline-flex
}

.adfy-options .radio-images .el-radio-group .el-radio .el-radio__input {
    display: none
}

.adfy-options .radio-images .el-radio-group .el-radio .el-radio__label {
    padding: 0;
    position: relative
}

.adfy-options .radio-images .el-radio-group .el-radio .el-radio__label svg:not(.check) {
    display: inline-flex;
    height: auto;
    width: 140px
}

.adfy-options .radio-images .el-radio-group .el-radio .el-radio__label svg.check {
    fill: var(--addonify_primary_color);
    display: none;
    height: 26px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 26px;
    z-index: 5
}

#___adfy-quickview-app___ .error-404 {
    display: block;
    margin: 200px auto 0;
    min-height: 80vh;
    text-align: center
}

#___adfy-quickview-app___ .error-404 h3 {
    font-size: 112px;
    font-weight: 700;
    margin: 0 0 60px;
    text-transform: uppercase
}

#___adfy-quickview-app___ .error-404 p {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0 0 30px;
    text-transform: uppercase
}

#___adfy-quickview-app___ .error-404 .adfy-button {
    border-radius: 30px;
    padding: 20px 60px
}

#recommended-products #recommended-hot-products .adfy-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    padding: 40px;
    transition: all .5s ease
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card:hover {
    box-shadow: 0 0 65px rgba(0, 0, 0, .1);
    transform: translateY(-10px)
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card .adfy-product-box {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: 152px auto
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card .adfy-product-box .adfy-product-thumb {
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card .adfy-product-box .adfy-product-thumb>img {
    display: block;
    max-width: 100%
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card .adfy-product-box .adfy-product-title {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 15px
}

#recommended-products #recommended-hot-products .adfy-grid .adfy-product-card .adfy-product-box .adfy-product-description {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33)
    }

    80%,
    to {
        opacity: 0
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(.8)
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes adfyNoticePulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, .4)
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }

    to {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0)
    }
}