/* -------------------------------------------------------------------------- 
	Control: text
  -------------------------------------------------------------------------- */

.adfy-options {

    :is(.el-input):not(.el-textarea):not(.el-select):not(.el-input-number):not(.el-slider):not(.el-color-picker):not(.el-radio) {

        width: 250px;
    }
}

.adfy-options {

    .el-textarea {

        width: 100%;
        min-width: 300px;

        .el-textarea__inner {

            padding: 20px;
            font-family: var(--addonify_font_family);
            font-size: 15px;
            font-weight: normal;
            line-height: 2.2;
            resize: vertical;
            height: 200px;
            border-radius: 10px;
        }
    }
}

/* -------------------------------------------------------------------------- 
	Control: number
  -------------------------------------------------------------------------- */

.adfy-options {

    .el-input-number {

        width: 150px;

        &.is-controls-right {

            width: 250px;
        }
    }
}

/* -------------------------------------------------------------------------- 
	Control: select
  -------------------------------------------------------------------------- */

.adfy-options {

    .el-select {

        width: 250px;
    }
}

.el-popper .el-select-dropdown__item.selected {

    font-weight: normal;
}

/* -------------------------------------------------------------------------- 
	Control: slider (range)
  -------------------------------------------------------------------------- */

.adfy-options {

    .el-slider {

        width: 250px;
    }
}

/* -------------------------------------------------------------------------- 
	Control: Color picker
  -------------------------------------------------------------------------- */

.adfy-options  {

    .el-color-picker {

        transition: all 0.5s ease-in;

        .el-color-picker__color,
        .el-color-picker__trigger,
        .el-color-picker__color-inner {

            border: none;
            border-radius: 100%;
        }

        .el-color-picker__color {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        }

        .el-color-picker__trigger {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 52px;
            width: 52px;
            padding: 8px;
            border: 2px solid #DCDCDC;
            box-shadow: none;
            transition: all 0.5s ease-in;
        }

        .el-color-picker__icon {

            color: white;
            font-size: 16px;
            line-height: 1;
            font-weight: normal;
        }

        .el-color-picker__empty {

            color: red;
            font-size: 20px;
            line-height: 1;
            font-weight: normal;
        }

        &:is(:hover:not(.is-disabled)) {

            .el-color-picker__trigger {

                border: 2px solid #DCDCDC;
            }
        }
    }
}


/* -------------------------------------------------------------------------- 
	Control: Radio
  -------------------------------------------------------------------------- */

.adfy-options {

    .el-radio-group {

        display: flex;
        align-items: center;
        gap: 20px;

        // DEFAULT
        .el-radio.is-bordered.el-radio--large {

            display: inline-flex;
            gap: 10px;
            align-items: center;
            margin: 0;
            padding: 10px 20px;
            height: auto;
            border-radius: 30px;

            span {
				line-height: 1;
			}

            .el-radio__label {

                padding: 0;
                
                svg {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    fill: #464646;
                    width: 20px;
                    height: 20px;
                    line-height: 1;
                }
            }
        }
    }

    // FOR IMAGES!
    .radio-images {

		.el-radio-group {

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 30px;

		    .el-radio {

                display: inline-flex;
                gap: 0;
                align-items: center;
                width: auto;
                height: auto;
                margin: 0;
                padding: 15px;
                line-height: 1;
                border: 2px solid var(--addonify_border_color);
                border-radius: 10px;

                &.is-checked {

                    border-color: var(--addonify_primary_color);

                    .el-radio__label {

                        svg.check {

                            display: inline-flex;
                        }
                    }
                }

                .el-radio__input {

                    display: none;
                }

                .el-radio__label {

                    position: relative;
                    padding: 0;

                    svg:not(.check) {

                        display: inline-flex;
                        width: 140px;
                        height: auto;
                    }

                    svg.check {

                        display: none;
                        width: 26px;
                        height: 26px;
                        fill: var(--addonify_primary_color);
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        z-index: 5;
                    }
                }
			}
		}
	}
}