
/* -------------------------------------------------------------------------- 
	Mixins
  -------------------------------------------------------------------------- */

@mixin flex( $direction: row, $align, $justify, $wrap: warp, $gap ) {

	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	gap: $gap;

	@if $align {

		align-items: $align;
	}

	@if $justify {

		justify-content: $justify;
	}

	@if $gap {

		gap: $gap;
	}
}

@mixin grid () {

	display: grid;
}

@mixin transation_delay ($delay: 0.5s, $property: all, $function: ease) {

    transition: $property $delay $function;
}

@mixin transation_delay_none () {

    transition: none;
}

@mixin display ($display: none) {

	display: $display;
}

@mixin visibility ($visibility: hidden) {

	@if $visibility == hidden {
		opacity: 0;
		visibility: hidden;
		backface-visibility: hidden;
	} @else {
		opacity: 1;
		visibility: visible;
		backface-visibility: visible;
	}
}

@mixin scale () {

    transform: scale(1.1);
    @include transation_delay();
}

@mixin position ( $top, $bottom, $left, $right ) {
	
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	transform:translateY(-50%);
}

@mixin position_topnleft () {
	
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin box_shadow () {

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@mixin mild_box_shadow() {

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

@mixin large_box_shadow () {

    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
}

