/* -------------------------------------------------------------------------- 
	Variables
  -------------------------------------------------------------------------- */

  :root {

    --addonify_qv_modal_overlay_background: rgba(255, 255, 255, 0.95);
    --addonify_qv_modal_background: rgba(255, 255, 255, 1);

    // Product
    --addonify_qv_product_title: rgba(0, 0, 0, 1);
    --addonify_qv_product_excerpt: rgba(0, 0, 0, 1);
    --addonify_qv_product_rating_filled: rgba(245, 196, 14, 1);
    --addonify_qv_product_rating_empty: rgba(185, 185, 185, 1);
    --addonify_qv_product_price: rgba(0, 0, 0, 1);
    --addonify_qv_product_price_sale: rgba(255, 0, 0, 1);
    --addonify_qv_product_meta: rgba(2, 134, 231, 1);
    --addonify_qv_product_meta_hover: rgba(0, 0, 0, 1);

    // Close button
    --addonify_qv_close_button_text: rgba(0, 0, 0, 1);
    --addonify_qv_close_button_text_hover: rgba(2, 134, 231, 1);
    --addonify_qv_close_button_background: rgba(255, 255, 255, 0);
    --addonify_qv_close_button_background_hover: rgba(255, 255, 255, 0);

    // Misc buttons
    --addonify_qv_misc_button_text: rgba(255, 255, 255, 1);
    --addonify_qv_misc_button_text_hover: rgba(255, 255, 255, 1);
    --addonify_qv_misc_button_background: rgba(0, 0, 0, 1);
    --addonify_qv_misc_button_background_hover: rgba(2, 134, 231, 1);
  }